@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Extralight.eot');
    src: local('Oswald Extra Light'), local('OswaldExtraLight'),
    url('fonts/Oswald-Extralight.eot?#iefix') format('embedded-opentype'),
    url('fonts/Oswald-Extralight.woff') format('woff'),
    url('fonts/Oswald-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Light.eot');
    src: local('Oswald Light'), local('OswaldLight'),
    url('fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/Oswald-Light.woff') format('woff'),
    url('fonts/Oswald-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Regular.eot');
    src: local('Oswald Regular'), local('OswaldRegular'),
    url('fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Oswald-Regular.woff') format('woff'),
    url('fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Medium.eot');
    src: local('Oswald Medium'), local('OswaldMedium'),
    url('fonts/Oswald-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/Oswald-Medium.woff') format('woff'),
    url('fonts/Oswald-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-SemiBold.eot');
    src: local('Oswald SemiBold'), local('OswaldRegular'),
    url('fonts/Oswald-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Oswald-SemiBold.woff') format('woff'),
    url('fonts/Oswald-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Bold.eot');
    src: local('Oswald Bold'), local('OswaldRegular'),
    url('fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Oswald-Bold.woff') format('woff'),
    url('fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body, main, div, h1, p, span, a, ul, li, img {
    padding: 0;
    margin: 0;
}
body {
    background-color:#fff;
    font-family: Oswald, sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: #656b72;
}
main {
    background: url('images/background.png') no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    width: 1440px;
    margin: 0 auto;
}
.header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 23px;

}
.header__logo {
    margin-left: 155px;
}
.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    margin-right: 90px;
}
.header__menu li {

    padding-top: 19px;
}
.header__menu a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
    text-decoration: none;
    color: #656b72;
    transition-property: color;
    transition-duration: 500ms;
}
.header__menu a:hover {

    color: #ff80b2;

}


.header__menu li:not(:first-child) {
    margin-left: 30px;
}
.content .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.content__left-part {
    margin-top: 25px;
    margin-left: 90px;
    position: relative;
    z-index: 5;
}
.form__login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    position: relative;
    z-index: 4;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    width: 260px;
    height: 248px;
    padding: 60px 30px;

}
.form__login form {
    position: relative;
}

.form__bottom {
    background-color: rgba(100,100,100,0.6);
    position: absolute;
    width: 320px;
    height: 385px;
    z-index: 1;
    top: 55px;
    left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 17px;
    color: #fff;
}
.form__bottom span {
    font-weight: 200;
    padding-top: 3px;
    padding-bottom: 13px;
}
.form__bottom a {
    transition-property: transform;
    transition-duration: 500ms;
}
.form__login input[type="text"]::-webkit-input-placeholder,
.form__login input[type="password"]::-webkit-input-placeholder
 {
    font-size: 17px;
    font-weight: 400;
    color: #656b72;
    text-transform: uppercase;
    opacity: 1;
}
.form__login input[type="text"]:-ms-input-placeholder {
    font-size: 17px;
    font-weight: 400;
    color: #656b72;
    text-transform: uppercase;
    opacity: 1;
}
.form__login input[type="password"]:-ms-input-placeholder {
    font-size: 17px;
    font-weight: 400;
    color: #656b72;
    text-transform: uppercase;
    opacity: 1;
}
.form__login input[type="text"]:-moz-placeholder,
.form__login input[type="password"]:-moz-placeholder {
    font-size: 17px;
    font-weight: 400;
    color: #656b72;
    text-transform: uppercase;
    opacity: 1;
}
.form__login input[type="text"]::-moz-placeholder,
.form__login input[type="password"]::-moz-placeholder {
    font-size: 17px;
    font-weight: 400;
    color: #656b72;
    text-transform: uppercase;
    opacity: 1;
}

.form__login input[type="text"],
.form__login input[type="password"] {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    border: 1px solid #d5d8dc;
    -webkit-appearance: none;
    margin-bottom: 10px;
    font-family: Oswald, sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #656b72;
    text-transform: none;
    padding-left: 25px;
    -moz-appearance: none;
}
.show-password {
    display: block;
    position: absolute;
    background: url('images/show-password.png') no-repeat;
    background-size: cover;
    width: 24px;
    height: 19px;
}

.form__login .show-password {
    top: 68px;
    left: 220px;
}

.form__login input[type="text"]:focus::-webkit-input-placeholder,
.form__login input[type="password"]:focus::-webkit-input-placeholder
{ color:transparent; }
.form__login input[type="text"]:focus:-moz-placeholder,
.form__login input[type="password"]:focus:-moz-placeholder
{ color:transparent; } /* FF 4-18 */
.form__login input[type="text"]:focus::-moz-placeholder,
.form__login input[type="password"]:focus::-moz-placeholder
{ color:transparent; } /* FF 19+ */
.form__login input[type="text"]:focus:-ms-input-placeholder,
.form__login input[type="password"]:focus:-ms-input-placeholder
{ color:transparent; } /* IE 10+ */

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    font-family: Oswald, sans-serif;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 17px;
    color: #656b72;
    font-weight: 200;
    text-transform: lowercase;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    background-color: #fff;
    width: 14px;
    height: 14px;
    border: 1px solid #d5d8dc;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {

}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    left: 1px;
    top: 10px;
    background: url('images/checked.png') no-repeat;
    background-size: cover;
    width: 12px;
    height: 9px;


}
input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
.form__login input[type="submit"] {
    width: 173px;
    height: 53px;
    padding: 0;
    border: none;
    margin: 18px auto;
    margin-bottom: 25px;
    display: block;
    font-family: Oswald, sans-serif;
    text-align: center;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 500ms;

}
.form__login input[type="submit"]:hover {
   transform: scale(1.1);
}

.form__login a {
    color: #656b72;
    font-size: 16px;
    font-weight: 200;
    margin: 0 auto;
    text-transform: none;
    display: block;
    width: auto;
    text-align: center;
    transition-property: transform;
    transition-duration: 500ms;
}
.form__login a:hover,
.form__bottom a:hover {
    transform: scale(1.1);
}

.content__right-part {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 155px;
}
.content__right-part h1 {
    font-size: 51px;
    font-weight: 600;
    color: #3a3c4d;
    text-transform: uppercase;
    line-height: 60px;
}
.content__right-part p {
    color: #7e888a;
    font-size: 23px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 35px;
}



.link {
    text-transform: uppercase;
    color: #fff;
}
.button {
    background-color: #ff80b2;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 17px;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-radius: 35px;
}
.links {
    margin-top: 115px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 80px;
}
.links .link {
    text-decoration: underline dotted;
    font-size: 23px;
    font-weight: 400;
    text-transform: none;
}
.links .link:first-of-type {
    margin-right: 65px;
}
.footer {
    background-color: rgba(89,100,114,0.27);

}
.footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;

}
.footer__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer__company-info {
    margin-left: 70px;
}
.copyright {
    font-weight: 200;
    font-size: 19px;
    margin-top: 55px;
}
.footer .footer__company-info p {
    font-size: 14px;
    font-weight: 300;
    max-width: 410px;
    margin-top: 10px;
    margin-bottom: 25px;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 45px;
}
.social a {
    display: block;
    width: 43px;
    height: 43px;
    border-radius: 100%;
    box-sizing: border-box;
    border: 1px solid #fff;
    opacity: 0.6;
    transition-property: transform, opacity;
    transition-duration: 500ms;
}
.social a:hover {
    transform: scale(1.1);
    opacity: 1;

}

.social a:not(:last-child) {
    margin-right: 17px;
}
.ig {
    background: url('images/ig.png') no-repeat;
    background-position: 49% 49%;
}
.tw {
    background: url('images/tw.png') no-repeat;
    background-position: 60% 60%;
}
.fb {
    background: url('images/fb.png') no-repeat;
    background-position: 49% 55%;
}
.vk {
    background: url('images/vk.png') no-repeat;
    background-position: 52% 58%;
}
.gp {
    background: url('images/gp.png') no-repeat;
    background-position:56% 52%;
}
.footer .column-title {
    font-size: 23px;
    font-weight: 300;
    margin-top: 60px;
    text-transform: none;
    margin-bottom: 5px;
    position:relative;
}
.footer__column p {
font-size: 19px;
    font-weight: 200;
}
.footer__contacts {
    margin-right: 70px;
}
.footer__contacts .column-title::before {
    content: "";
    display: block;
    border-radius: 100%;
    border: 1px solid rgba(255,255,255,0.6);
    width: 29px;
    height: 29px;
    background: url('images/phone.png') no-repeat;
    background-position: 51% 47%;
    position: absolute;
    left: -45px;
}
.footer__contacts a{
    font-size: 19px; font-weight: 200; color: #fff; text-decoration: none;
}
.hidden {
    display: none !important;
}
/* registration.html */
.main__registration {
    background: url('images/registration-bg.png') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}
.registration__window {
    width: 445px;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    background-color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    position: relative;

}
.registration__phone, .registration__password {
    height: 595px;
}

.registration__window .registration__close {
    display: block;
    background: url('images/close.png') no-repeat;
    width: 16px;
    height: 16px;
    background-size: cover;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.4;
    transition-property: opacity, transform;
    transition-duration: 500ms;
}
.registration__window .registration__close:hover {
    opacity: 1;
    transform: scale(1.1);
}
.registration__window form {
    margin-left: 75px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color:#656b72;
    margin-right: 70px;
    font-family: Oswald, sans-serif;
    -moz-appearance: none;
}
.registration__window form h2 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    display: flex;
    align-self: center;
    margin-top: 10px;

}

.registration__window form p {
    font-size: 18px;
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 30px;
}
.registration__phone form label {
    margin-bottom: 15px;
}
.registration__window form p:last-of-type {
    margin: 0 auto;
}
.registration__window form input {
    width: 303px;
    box-sizing: border-box;
    height: 45px;
    margin-top: 8px;
    font-family: Oswald, sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #656b72;
    text-transform: none;
    text-align: center;
    -moz-appearance: none;

}
.registration__window form[type="tel"]::-webkit-input-placeholder,
.registration__window form input[type="password"]::-webkit-input-placeholder
{
    font-size: 19px;
    font-weight: 400;
    color: #656b72;
    text-transform: uppercase;
    opacity: 1;
}
.registration__window form input[type="tel"]:-ms-input-placeholder {
    font-size: 19px;
    font-weight: 400;
    color: #656b72;
    text-transform: uppercase;
    opacity: 1;
}
.registration__window form input[type="password"]:-ms-input-placeholder {
    font-size: 19px;
    font-weight: 400;
    color: #656b72;
    text-transform: uppercase;
    opacity: 1;
}
.registration__window form input[type="tel"]:-moz-placeholder,
.registration__window form input[type="password"]:-moz-placeholder {
    font-size: 19px;
    font-weight: 400;
    color: #656b72;
    text-transform: uppercase;
    opacity: 1;
}
.registration__window form input[type="tel"]::-moz-placeholder,
.registration__window form input[type="password"]::-moz-placeholder {
    font-size: 19px;
    font-weight: 400;
    color: #656b72;
    text-transform: uppercase;
    opacity: 1;
    text-align: center;
}

.registration__window form label {
    text-align: center;
    margin:0 auto;
    font-size: 19px;
}
.registration__window form label[for="reg-agree"] {
    text-align: left;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 25px;
}
.registration__window .link {
    color: #ff80b2;
    text-decoration: none;
    border-bottom: 1px solid #ff80b2;
    text-transform: none;
    margin-bottom: 5px;
}
.registration__window form .form-buttons {
    DISPLAY: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.registration__window form input[type="submit"] {
    border: none;
    margin: 20px auto;
    display: block;
    font-family: Oswald, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 500ms;
    width: 45%;
    font-size: 19px;
    height: 50px;
    padding: 0;

}
.registration__window form #reg-confirm-tel{
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 10px;
}

#reg-complete-master {
    background-color: #656b72;
}
.registration__window form input[type="submit"]:hover {
    transform: scale(1.1);
}

.registration__password form {
    margin-bottom: 20px;
}
.registration__window .registration__step-2 h2 {
    margin-bottom: 20px;
}
.registration__window .registration__step-2 input {
    margin-bottom: 10px;
}
.registration__window form input[type="tel"]:focus::-webkit-input-placeholder,
.registration__window form input[type="password"]:focus::-webkit-input-placeholder
{ color:transparent; }
.registration__window form input[type="tel"]:focus:-moz-placeholder,
.registration__window form input[type="password"]:focus:-moz-placeholder
{ color:transparent; } /* FF 4-18 */
.registration__window form input[type="tel"]:focus::-moz-placeholder,
.registration__window form input[type="password"]:focus::-moz-placeholder
{ color:transparent; } /* FF 19+ */
.registration__window form input[type="tel"]:focus:-ms-input-placeholder,
.registration__window form input[type="password"]:focus:-ms-input-placeholder
{ color:transparent; } /* IE 10+ */

.registration__window .registration__step-2 label {
    position: relative;
}
.registration__window .registration__step-2 .show-password {
    right: 15px;
    top: 50px;

}
.registration__window .registration__step-2 .hide-password  {
    background-image: url('images/hide-password.png');
   width: 24px;
    height: 14px;
    background-size: cover;
    opacity: 0.4;
}

.registration__window form input[type="checkbox"]:checked + label:after,
.registration__window form input[type="checkbox"]:not(:checked) + label:after {
    left: 2px;
    width: 11px;
    height: 8px;
}

/* inside.html */
.inside__body {
    font-size: 17px;

}
.inside__main {
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.inside__header .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.inside__header .header__logo {
    margin-left: 160px;
    width: 142px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.inside__header .show-profile-menu {
    display: block;
    background: url('images/arrow-down.png') no-repeat;
    width: 17px;
    height: 10px;
    margin-left: 18px;
    transition-property: rotate;
    transition-duration: 800ms;
}
.inside__header .show-profile-menu.rotate {
    transform: rotate(180deg);
}
.inside__header .profile-menu{
    width: 267px;
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 30px;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    color: #7e8389;
    list-style: none;
    position: absolute;
    z-index: 20;
    top: 93px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.inside__header .profile-menu li {
    padding-left: 30px;
    position: relative;
    cursor: pointer;
}
.inside__header .profile-menu li:not(:last-child) {
    margin-bottom: 25px;
}
.inside__header .profile-menu li:first-child {
    margin-top: 20px;
}
.profile-menu li::before {
    content: '';
    display: block;
    background: url('images/menu-icon-1.png') no-repeat;
    width: 14px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 4px;
}
.profile-menu li:hover {
    color: #ff80b1;
}
.profile-menu li:first-child:hover::before {
    background: url('images/menu-icon-1-pink.png') no-repeat;
}
.profile-menu li:nth-child(2):hover::before {
    background: url('images/menu-icon-2-pink.png') no-repeat;
}
.profile-menu li:nth-child(3):hover::before {
    background: url('images/menu-icon-3-pink.png') no-repeat;
}
.profile-menu li:nth-child(4):hover::before {
    background: url('images/menu-icon-4-pink.png') no-repeat;
}
.profile-menu li:nth-child(2)::before {
    background: url('images/menu-icon-2.png') no-repeat;
   width: 22px;
    height: 19px;
    left: -5px;
}
.profile-menu li:nth-child(3)::before {
    background: url('images/menu-icon-3.png') no-repeat;
    width: 21px;
    height: 22px;
    left: -4px;
}
.profile-menu li:nth-child(4)::before {
    background: url('images/menu-icon-4.png') no-repeat;
    width: 19px;
    height: 20px;
    left: -2px;
}
.inside__header .header__menu {
    margin-left: 120px;
    margin-right: 200px;
}
.inside__header .header__profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.header__profile-name {
    margin-right: 20px;
}

.inside__header .profile-name {
    color: #656b72;
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
}
.inside__header .profile-type {
    font-size: 17px;
    font-weight: 400;
    color: #656b72;
    opacity: 0.65;
    line-height: 17px;

}


.inside__main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: none;
}

.inside__content .container,
.inside__content-shedule {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.inside__content {
    width: 100%;
    background-color: #fbfbfb;
}
.inside__filter {

    box-sizing: border-box;
    border-bottom: 1px solid #eaeaea;
    background-color: #f4f6f8;
    width: 100%;
}
.inside__filter .container {
    height: 108px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 20px;
}
.button-arrow {
    display: block;
    cursor: pointer;
    width: 50px;
    height: 45px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    border-radius: 100%;
}
.inside__filter label {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 17px;
    font-weight: 300;
    color: #656b72;
    position: relative;

}
.inside__filter input,
.inside__filter select {
    height: 43px;
    border: 1px solid #ececec;
    background: #ffffff;
    border-radius: 25px;
    font-size: 17px;
    font-family: Oswald, sans-serif;
    color: #656b72;
    font-weight: 700;
    text-align: left;
    padding-left: 40px;
    -webkit-appearance: none;
}
.inside__filter #date {
    width: 130px;
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
}
.inside__filter input[type="date"]::after {
    content: '';
    display: block;
    position: absolute;
    background: url('images/calendar.png') no-repeat;
    width: 18px;
    height: 18px;
    cursor: pointer;
    right: 10px;
}
.inside__filter .ui-datepicker-trigger {
    position: absolute;
    right: 20px;
    top: 41px;
}
.label-time {
    margin-right: 15px;
}
.inside__filter #time-from,
.inside__filter #time-to{
    width: 96px;
    padding-left: 20px;
}
.inside__filter .time-from::before,
.inside__filter .time-to::after {
    content: '';
    display: block;
    position: absolute;
    background: url('images/time.png') no-repeat;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 40px;

}
.inside__filter select {
    width: 116px;
    padding-left: 15px;
    height: 47px;
}
.select::after {
    content: '';
    display: block;
    background: url('images/select.png') no-repeat;
    width: 11px;
    height: 7px;
    position: absolute;
    right: 10px;
    top: 46px;

}
.inside__filter label:last-child {
    margin-right: 200px;
}

.button-arrow-left {
    background:#ffffff url('images/arrow-left.png') no-repeat center;
}
.button-arrow-right {
    background:#ffffff url('images/arrow-right.png') no-repeat center;
    margin-right: 25px;
}
.inside__content-shedule {
    padding-bottom: 60px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.1);
    margin-bottom: 125px;
    background-color: #ffffff;
}
.inside__content-menu {
    margin-left: 160px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 400;
    color: #7e8389;
    margin-top: 25px;
    margin-right: 30px;
}
.inside__content-menu li {
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 20px;
    width: 240px;
    cursor: pointer;
}
.inside__content-menu li.active {
    border-left: 5px solid #ff80b1;
    background-color: #fce9f0;
    color: #ff80b1;
}
.time-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 60px;
}
.appointments-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;


}
.time-column p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: 700;
    color: #656b72;
    height: 72px;
    width: 55px;
    padding-left: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
}
.appointment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 630px;
    margin-right: 58px;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
    height: 72px;

}
.appointment-info {
    font-weight: 300;
    line-height: 22px;
}
.appointment-settings {
    margin-right: 7px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 120px;
}
.appointment-settings a {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    box-sizing: border-box;
    border: 1px solid #ececec;
    margin-right: 7px;
    cursor: pointer;

}
.appointment-call {
    background: url('images/call-customer.png') no-repeat center;
}
.appointment-delete {
    background: url('images/delete-appointment.png') no-repeat center;
}
.appointment-comment {
    background: url('images/comment-appointment.png') no-repeat center;
}
.appointment-info span {
    color: #ff80b1;
}
.appointment-info .service-type {
    opacity: 0.4;
}
.customer-phone {
    margin-left: 10px;
    margin-right: 30px;
}
.customer-avatar {
    margin-left: 25px;
    margin-right: 13px;
}
.appointment.empty .appointment-info {
    margin-left: 72px;
    margin-right: 160px;

}
.appointment.empty .appointment-info span{
    color: #656b72;

    opacity: 0.5;
}
.appointment.empty .appointment-info p{
    color: #656b72;
    opacity: 0.3;
    font-weight: 400;
}

.appointment.empty input[type="checkbox"]:checked + label:before,
.appointment.empty input[type="checkbox"]:not(:checked) + label:before {
    width: 16px;
    height: 16px;
    border: 1px solid #596472;
    top: 3px;
}
.appointment.empty input[type="checkbox"]:checked + label:after,
.appointment.empty input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 7px;
}
.appointment.empty input[type="checkbox"]:checked + label,
.appointment.empty input[type="checkbox"]:not(:checked) + label {
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
    color: #7e8389;
}
.appointment.empty .make-an-appointment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 122px;
    border: 1px solid #ff80b1;
    border-radius: 30px;
    color: #656b72;
    font-weight: 400;
    text-transform: none;
    height: 34px;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 500ms;
    margin-left: 76px;
}
.appointment.empty .make-an-appointment:hover {
    background-color: #ff80b1;
    color: #ffffff;

}
.inside__footer {
    background-color: #596472;
}



@media screen and (min-width: 1440px) and (max-width: 1919px) {
    .container {
        width: 1300px;
    }
    .header__logo {
        width: 156px;
    }
    .header__menu li {

        padding-top: 9px;
    }
    .header__menu a {
        font-size: 18px;
    }
    .header__menu li:not(:first-child) {
        margin-left: 20px;
    }
    .content__right-part {
        margin-top: 90px;
        margin-right: 35px;

    }
    .form__login {
        width: 245px;
        height: 246px;
        padding: 40px 20px;
    }
    .form__login input[type="submit"] {
        width: 162px;
        height: 46px;
        margin: 6px auto;
        margin-bottom: 19px;
    }
    .form__login .show-password {
        left: 210px;
    }
    .form__bottom {
        width: 280px;
        height: 340px;
    }
    .content__right-part h1 {
        font-size: 47px;
        line-height: 55px;
    }
    .button {
        width: 185px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .links .link:first-of-type {
        margin-right: 45px;
    }
    .links {
        margin-bottom: 57px;
    }
    .copyright {
        font-size: 18px;
        margin-top: 45px;
    }
    .footer .footer__company-info p {
        margin-bottom: 15px;
    }
    .inside__header .header__logo,
    .inside__content-menu{
        margin-left: 100px;
    }
    .inside__header .header__menu a {
        font-size: 16px;
    }
    .inside__header .profile-name {
        font-size: 18px;
    }
    .inside__header .profile-type {
        font-size: 15px;
    }
    .header__profile-photo {
        width: 60px;
    }
    .inside__header .show-profile-menu {
        background-size: cover;
        width: 14px;
        height: 8px;
        margin-left: 10px;
    }
    .inside__header .profile-menu {
        width: 215px;
        height: 200px;
        font-size: 16px;
    }
    .inside__header .profile-menu li:not(:last-child) {
        margin-bottom: 20px;
    }
    .profile-menu li::before {
        top: 1px;
    }
    .inside__filter input, .inside__filter select {
        font-size: 15px;
        height: 38px;
    }
    .inside__filter select {
        height: 43px;
    }
    .button-arrow {
        width: 47px;
        height: 43px;
    }
    .inside__filter .ui-datepicker-trigger {
        top: 38px;
    }
    .inside__filter .time-from::before, .inside__filter .time-to::after {
        top: 36px;
    }
    .inside__body {
        font-size: 15px;
    }
    .customer-phone {
        margin-left: 15px;
        margin-right: 50px;
    }
    .appointment.empty .appointment-info {
        margin-right: 165px;
    }
    .inside__content-menu {
        font-size: 16px;
    }

}
@media screen and (min-width: 1363px) and (max-width: 1367px) {
    input[type="checkbox"]:checked + label:before, input[type="checkbox"]:not(:checked) + label:before {
        top:0;

    }
    input[type="checkbox"]:checked + label:after, input[type="checkbox"]:not(:checked) + label:after {
      top: 1px;

    }
}
@media screen and (min-width: 1279px) and (max-width: 1439px) {
    .container {
        width: 1000px;
    }
    .header__logo {
        width: 126px;
        margin-left: 124px;
    }
    .header .container {
        padding-top: 14px;
    }
    .header__menu li {

        padding-top: 9px;
    }
    .header__menu a {
        font-size: 14px;
    }

    .header__menu li:not(:first-child) {
        margin-left: 16px;
    }
    .content__left-part {
        margin-top: 18px;
        margin-left: 82px;
    }
    .content__right-part {
        margin-top: 64px;
        margin-right: 132px;
    }
    .form__login {
        width: 175px;
        height: 167px;
        padding: 40px 20px;
    }
    .form__login input[type="text"], .form__login input[type="password"] {
        height: 27px;
        font-size: 14px;
        padding-left: 15px;
        margin-bottom: 5px;
    }
    .form__login input[type="password"] {
        margin-bottom: 0;
    }
    .form__login .show-password {

        width: 20px;
        height: 16px;
        top: 51px;
        left: 147px;
    }
    .form__login input[type="text"]::-webkit-input-placeholder,
    .form__login input[type="password"]::-webkit-input-placeholder {
        font-size: 14px;
        padding-left: 0;
    }
    .form__login input[type="text"]:-moz-placeholder,
    .form__login input[type="password"]:-moz-placeholder {
        font-size: 14px;
        padding-left: 0;
    }

    .form__login input[type="text"]:-ms-input-placeholder,
    .form__login input[type="password"]:-ms-input-placeholder {
        font-size: 14px;
        padding-left: 0;
    }

    .form__login input[type="text"]::-moz-placeholder,
    .form__login input[type="password"]::-moz-placeholder {
        font-size: 14px;
        padding-left: 0;
    }



    input[type="checkbox"]:checked + label, input[type="checkbox"]:not(:checked) + label {
        font-size: 14px;
        padding-left: 20px;
    }
    input[type="checkbox"]:checked + label:before, input[type="checkbox"]:not(:checked) + label:before {
        width: 10px;
        height: 10px;

    }
    input[type="checkbox"]:checked + label:after, input[type="checkbox"]:not(:checked) + label:after {
        width: 9px;
        height: 7px;
        top: 9px;

    }
    .form__login input[type="submit"] {
        width: 120px;
        height: 36px;
        margin: 6px auto;
        margin-bottom: 14px;
        font-size: 14px;

    }
    .form__login a {
        font-size: 12px;
    }
    .form__bottom {
        width: 215px;
        height: 259px;
        font-size: 12px;
        top: 38px;
        left: 15px;
    }
    .form__bottom span {
        padding-bottom: 10px;
    }
    .content__right-part h1 {
        font-size: 35px;
        line-height: 43px;
    }
    .content__right-part p {
        font-size: 16px;
        font-weight: 300;
        line-height: 14px;
        margin-top: 13px;
        margin-bottom: 28px;
    }
    .button {
        width: 140px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15px;
    }
    .links .link:first-of-type {
        margin-right: 45px;
    }
    .links {
        margin-bottom: 57px;
        margin-top: 73px;
    }
    .links .link {
        font-size: 17px;
    }
    .footer__company-info {
        margin-left: 66px;
    }
    .copyright {
        font-size: 14px;
        margin-top: 37px;
    }

    .footer .footer__company-info p {
        font-size: 11px;
        max-width: 320px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .social {
        margin-bottom: 25px;
    }
    .social a {
        width: 30px;
        height: 30px;
    }
    .fb {
        background-size: 9px 15px;
    }
    .ig {
        background-size:  14px 15px;
    }
    .vk {
        background-size: 19px 13px;
        background-position: 49% 58%;
    }
    .gp {
        background-size:  17px 14px;
    }
    .tw {
        background-size:  14px 13px
    }
    .footer .column-title {
        font-size: 16px;
        margin-top: 37px;
    }
    .footer__column p {
        font-size: 12px;
    }
    .footer__contacts a {
        font-size: 12px;
    }
    .footer__contacts .column-title::before {
        width: 20px;
        height: 20px;
        background-size: 9px 11px;
        left: -30px;
    }
    .registration__window {
        height: auto;
        width: 300px;
        font-size: 12px;
    }
    .registration__window .registration__close {
        width: 10px;
        height: 10px;
        top: 13px;
        right: 13px;
    }
    .registration__window form {
        margin-left: 47px;
        margin-top: 23px;
        margin-bottom: 30px;
        margin-right: 47px;
    }
    .registration__window form h2 {
        font-size: 16px;
    }
    .registration__window form p {
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .registration__window form label {
        font-size: 12px;
    }
    .registration__window form input {
        width: 204px;
        box-sizing: border-box;
        height: 32px;
        margin-top: 5px;
        font-size: 14px;
    }
    .registration__window form label[for="reg-agree"] {
        margin-top: 15px;
    }
    .registration__window form input[type="checkbox"]:checked + label,
    .registration__window form input[type="checkbox"]:not(:checked) + label {
        font-size: 12px;
    }
    .registration__window form input[type="checkbox"]:checked + label:before,
    .registration__window form input[type="checkbox"]:not(:checked) + label:before {
        width: 8px;
        height: 8px;
        top: 5px;
        left: 1px;
    }
    .registration__window form input[type="submit"] {
        margin: 7px auto;
        margin-bottom: 9px;
        width: 120px;
        font-size: 13px;
        height: 35px;
    }
    .registration__password {
        height: auto;
    }
    .registration__window .registration__step-2 h2 {
        margin-bottom: 10px;
    }
    .registration__window .registration__step-2 input {
        margin-bottom: 7px;
    }
    .registration__window .registration__step-2 .show-password {
        right: 11px;
        top: 29px;
        width: 20px;
        height: 15px;
    }
    .registration__password form {
        margin-bottom: 25px;
    }
    .registration__window form input[type="checkbox"]:checked + label:after, .registration__window form input[type="checkbox"]:not(:checked) + label:after {
        left: 1px;
        width: 7px;
        height: 5px;
    }
    .registration__window .registration__step-2 .hide-password {
        width: 19px;
        height: 11px;
    }
    .registration__phone, .registration__password {
        height: 400px;
    }
    .registration__phone h2 {
        margin-top: 15px;
    }

    .inside__content-menu {
        margin-left: 0;
    }
    .inside__header .header__logo {
        margin-left: 0;
    }
    .inside__header .header__menu {
        margin-right: 180px;
    }
    .inside__header .profile-name {
        font-size: 15px;
    }
    .inside__header .profile-type {
        font-size: 14px;
    }
    /*

.inside__header .header__logo,
.inside__content-menu{
    margin-left: 100px;
}
*/
.inside__header .header__menu a {
    font-size: 15px;
}
.inside__header .profile-name {
    font-size: 16px;
}
.inside__header .profile-type {
    font-size: 15px;
}
.header__profile-photo {
    width: 60px;
}
.inside__header .show-profile-menu {
    background-size: cover;
    width: 14px;
    height: 8px;
    margin-left: 10px;
}
.inside__header .profile-menu {
    width: 215px;
    height: 200px;
    font-size: 15px;
}
.inside__header .profile-menu li:not(:last-child) {
    margin-bottom: 20px;
}
.profile-menu li::before {
    top: 1px;
}
.inside__filter input, .inside__filter select {
    font-size: 15px;
    height: 38px;
}
.inside__filter select {
    height: 43px;
}
.button-arrow {
    width: 47px;
    height: 43px;
}
.inside__filter .ui-datepicker-trigger {
    top: 38px;
}
.inside__filter .time-from::before, .inside__filter .time-to::after {
    top: 36px;
}
.inside__body {
    font-size: 14px;
}
.customer-phone {
    margin-left: 15px;
    margin-right: 50px;
}
.appointment.empty .appointment-info {
    margin-right: 147px;
}
.inside__content-menu {
    font-size: 14px;
}
    .time-column {
        margin-left: 30px;
    }
    .inside__filter label:last-child {
        margin-right: 0;
    }
    .appointment.empty input[type="checkbox"]:checked + label:after, .appointment.empty input[type="checkbox"]:not(:checked) + label:after {
        width: 11px;
        height: 9px;
    }
    .appointment.empty input[type="checkbox"]:checked + label, .appointment.empty input[type="checkbox"]:not(:checked) + label {
        padding-left: 25px;
    }
}
@media screen and (min-width: 1023px) and (max-width: 1278px) {
    .container {
    width: 700px;
    }
    .header__logo {
        width: 100px;
        margin-left: 50px;
    }
    .header .container {
        padding-top: 12px;
    }
    .header__menu {
        margin-right: 0;
    }
    .header__menu li {

        font-weight: 500;
    }
    .header__menu a {
        font-size: 12px;
    }
    .header__menu li:not(:first-child) {
        margin-left: 12px;
    }
    .content__left-part {
        margin-top: 15px;
        margin-left: 17px;
    }
    .form__login {
        width: 148px;
        height: 160px;
        padding: 20px 12px;
    }
    .form__login input[type="text"], .form__login input[type="password"] {
        width: 145px;
        height: 24px;
        font-size: 12px;
        padding-left: 15px;
        margin-bottom: 0;
    }
    .form__login input[type="text"]::-webkit-input-placeholder,
    .form__login input[type="password"]::-webkit-input-placeholder {
        font-size: 12px;
        font-weight: 400;
        color: #656b72;
        text-transform: uppercase;
    }
    .form__login input[type="text"]:-moz-placeholder,
    .form__login input[type="password"]:-moz-placeholder {
        font-size: 12px;
        font-weight: 400;
        color: #656b72;
        text-transform: uppercase;
    }
    .form__login input[type="text"]::-moz-placeholder,
    .form__login input[type="password"]::-moz-placeholder {
        font-size: 12px;
        font-weight: 400;
        color: #656b72;
        text-transform: uppercase;
    }

    .form__login input[type="text"]:-ms-input-placeholder,
    .form__login input[type="password"]:-ms-input-placeholder {
        font-size: 12px;
        font-weight: 400;
        color: #656b72;
        text-transform: uppercase;
    }
    .form__login .show-password {

        width: 17px;
        height: 13px;
        top: 46px;
        left: 120px;

    }
    .form__login input[type="submit"] {
        width: 100px;
        height: 28px;
        font-size: 11px;
        margin: 10px auto;
        margin-bottom: 10px;

    }
    input[type="checkbox"]:checked + label, input[type="checkbox"]:not(:checked) + label {
        font-size: 12px;
        padding-left: 18px;
    }
    input[type="checkbox"]:checked + label:before, input[type="checkbox"]:not(:checked) + label:before {
        width: 10px;
        height: 10px;
        top: 4px;
    }
    input[type="checkbox"]:checked + label:after, input[type="checkbox"]:not(:checked) + label:after {
        width: 8px;
        height: 6px;
        top: 7px;
        left: 2px;
    }
    .form__login a {
        font-size: 11px;
    }
    .form__bottom {
        width: 173px;
        height: 209px;
        font-size: 11px;
        top: 29px;
        left: 12px;
    }
    .form__bottom span {

        padding-top: 0;
        padding-bottom: 5px;
    }
    .content__right-part {
        margin-top: 52px;
        margin-right: -15px;
    }
    .content__right-part h1 {
        font-size: 28px;
        line-height: 34px;
    }
    .content__right-part p {
        color: #7e888a;
        font-size: 16px;
        font-weight: 300;
        line-height: 17px;
        margin-top: 5px;
        margin-bottom: 17px;
    }
    .content__right-part .button {
        font-weight: 300;
        font-size: 12px;
        width: 110px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .links {
        margin-top: 58px;
        margin-bottom: 42px;
    }
    .links .link {
        font-size: 15px;
    }
    .links .link:first-of-type {
        margin-right: 40px;
    }
    .footer__company-info {
        margin-left: 5px;
    }
    .copyright {
        font-weight: 200;
        font-size: 10px;
        margin-top: 27px;
    }
    .footer .footer__company-info p {
        font-size: 9px;
        max-width: 240px;
        margin-top: 2px;
        margin-bottom: 9px;
    }

    .social {
        margin-bottom: 30px;
    }
    .social a {
        width: 23px;
        height: 23px;
    }
    .social a:not(:last-child) {
        margin-right: 10px;
    }
    .tw {
        background-size: 12px 9px;
    }
    .vk {
        background-size: 13px 8px;
    }
    .fb {
        background-size: 7px 12px;
    }
    .ig {
        background-size: 9px 9px;
    }
    .gp {
        background-size: 11px 9px;
    }
    .footer .column-title {
        font-size: 14px;
        margin-top: 30px;
    }
    .footer__column p {
        font-size: 10px;
    }
    .footer__contacts {
        margin-right: 0;
    }
    .footer__contacts a {
        font-size: 10px;
    }
    .footer__contacts .column-title::before {
        width: 15px;
        height: 15px;
        left: -22px;
        background-size: 7px 9px;
    }
    .registration__window {
        width: 250px;
        font-size: 12px;
    }
    .registration__phone, .registration__password {
        height: 345px;
    }

    .registration__window .registration__close {
        width: 8px;
        height: 8px;
        top: 10px;
        right: 12px;
    }
    .registration__window form {
        margin-left: 40px;
        margin-top: 19px;
        margin-bottom: 25px;
        margin-right: 40px;
    }
    .registration__window form h2 {
        font-size: 13px;
    }
    .registration__window form p {
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .registration__window form label {
        font-size: 11px;
    }
    .registration__window form input {
        width: 170px;
        box-sizing: border-box;
        height: 26px;
        margin-top: 3px;
        font-size: 12px;
    }
    .registration__window form label[for="reg-agree"] {
        margin-top: 15px;
    }
    .registration__window form input[type="checkbox"]:checked + label,
    .registration__window form input[type="checkbox"]:not(:checked) + label {
        font-size: 10px;
        padding-left: 15px;
    }
    .registration__window form input[type="checkbox"]:checked + label:before,
    .registration__window form input[type="checkbox"]:not(:checked) + label:before {
        width: 6px;
        height: 6px;
        top: 5px;
    }
    .registration__window form input[type="submit"] {
        margin: 6px auto;
        width: 110px;
        font-size: 11px;
        height: 28px;

    }
    .registration__window form #reg-confirm-tel {
        margin-bottom: 25px;
        margin-top: 7px;
    }

    .registration__window .registration__step-2 h2 {
        margin-bottom: 10px;
    }
    .registration__window .registration__step-2 input {
        margin-bottom: 7px;
    }
    .registration__window .registration__step-2 .show-password {
        right: 8px;
        top: 24px;
        width: 16px;
        height: 12px;
    }
    .registration__password form {
        margin-bottom:  15px;
    }
    .registration__password form .link {
        font-size: 10px;
        margin-bottom: 5px;
    }
    .registration__window form input[type="checkbox"]:checked + label:after, .registration__window form input[type="checkbox"]:not(:checked) + label:after {
        left: 1px;
        width: 6px;
        height: 4px;
    }
    .registration__window .registration__step-2 .hide-password {
        top: 25px;
        width: 15px;
        height: 9px;
    }
    .inside__header .container,
    .inside__main .container,
    .inside__content .container{
        width: 800px;
    }

    .inside__content-menu {
        margin-left: 0;
    }
    .inside__header .header__logo {
        margin-left: 0;
        width: 130px;
    }
    .inside__header .header__menu {
        margin-right: 80px;
        margin-left: 60px;

    }
    .inside__header .profile-name {
        font-size: 15px;
    }
    .inside__header .profile-type {
        font-size: 14px;
    }

    .inside__header .header__menu a {
        font-size: 14px;

    }
    .inside__header .profile-name {
        font-size: 15px;
    }
    .inside__header .profile-type {
        font-size: 14px;
    }
    .header__profile-photo {
        width: 40px;
    }
    .inside__header .show-profile-menu {
        background-size: cover;
        width: 14px;
        height: 8px;
        margin-left: 10px;
    }
    .inside__header .profile-menu {
        width: 215px;
        height: 200px;
        font-size: 15px;
    }
    .inside__header .profile-menu li:not(:last-child) {
        margin-bottom: 20px;
    }
    .profile-menu li::before {
        top: 1px;
    }
    .inside__filter input, .inside__filter select {
        font-size: 15px;
        height: 38px;
    }
    .inside__filter select {
        height: 43px;
    }
    .button-arrow {
        width: 47px;
        height: 43px;
    }
    .inside__filter .ui-datepicker-trigger {
        top: 38px;
    }
    .inside__filter .time-from::before, .inside__filter .time-to::after {
        top: 36px;
    }
    .inside__body {
        font-size: 14px;
    }
    .customer-phone {
        margin-left: 15px;
        margin-right: 40px;
    }
    .appointment-settings a {
        width: 30px;
        height: 30px;
    }
    .appointment-settings {
        margin-left: 40px;
    }
    .appointment.empty .appointment-info {
        margin-right: 100px;

    }
    .appointment.empty .make-an-appointment {
        width: 110px;
        margin-left: 38px;
    }
    .inside__content-menu {
        font-size: 14px;
    }
    .inside__content-menu li {
        width: 200px;
    }
    .time-column {
        margin-left: 15px;
    }
    .time-column p {
        width: 50px;
    }
    .appointment {
        width: 500px;
        margin-right: 40px;
    }
    .inside__filter label:last-child {
        margin-right: 0;
    }
    .appointment.empty input[type="checkbox"]:checked + label:after, .appointment.empty input[type="checkbox"]:not(:checked) + label:after {
        width: 11px;
        height: 9px;
    }
    .appointment.empty input[type="checkbox"]:checked + label, .appointment.empty input[type="checkbox"]:not(:checked) + label {
        padding-left: 25px;
    }
    .inside__filter label {
        font-size: 15px;
    }
}