
@font-face {
    font-family: 'Electro Shackle';
    src: local('Electro Shackle'), local('ElectroShackle'), url('fonts/ElectroShackle.woff') format('woff'),
    url('fonts/ElectroShackle.ttf') format('truetype'), url('fonts/ElectroShackle.otf') format('otf');
    font-weight: 300;
    font-style: normal;
}
div, section, header, main, footer, p, h1, h2, img {
    margin: 0;
    padding: 0;
}
body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #6c7279;

}

.container {
    width: 1200px;
    margin: 0 auto;
}
header {
    background: url(Source/Banner.jpg) no-repeat;
    background-size:cover;

    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #6f1616;

}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.logo p{
    font-family: 'Electro Shackle', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
}
.red {
    color: #d92727;
}
.address {
    display: inline-block;
    width: 180px;
    text-align: right;
}

.address,
.phone {
    position: relative;
    padding-top: 3px;
}
.address::before,
.phone::before {
    content: "";
    display: block;
    position: absolute;
    height: 25px;
    width: 19px;
    background: url(Source/sprites.png) -10px -160px;
    padding: 0;
    margin: 0;
    left: -30px;
    top: 3px;

}
.phone {
    line-height: 25px;
}
.phone::before {
    width: 25px;
    background: url('Source/sprites.png') -190px -100px;
    left: -45px;
}
.header-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-bottom h1 {
    font-size: 72px;
    font-weight: 400;
    line-height: 108px;
    margin-top: 110px;
    margin-bottom: 35px;
}
.header-bottom p {
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    width: 70%;
    margin-bottom: 35px;
}
.button {
    display: inline-block;
    padding: 20px 60px 13px;
    background-color: #d92727;
    text-transform: uppercase;
    color: white;
    border-bottom: 5px solid #a81616;
}
.button:hover {
    border-color: #d92727;
}
.button:active {
    background-color: #ff7a7a;
}

.social-links{
    display: flex;
    width: 180px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 180px;
}
.social-links a {
    display: inline-block;
    width: 40px;
    height: 40px;

}
.fb {
    background: url('Source/sprites.png') -10px -100px;
}
.gp {
    background: url('Source/sprites.png') -70px -100px;
}
.hs {
    background: url('Source/sprites.png') -130px -100px;
}

.features .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.feature-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 31%;
    margin: 102px 0;
}
.feature-title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2d3033;
    margin-bottom: 40px;
}
.feature-description {
    display: inline-block;
    text-align: center;
}

.feature-description::before {
    content:"";
    display: flex;
    height: 70px;
    width: 59px;
    background: url('Source/sprites.png') -184px -10px;
    margin: 0 auto 40px;

}
.expert.feature-description::before {
    width: 70px;
    background: url('Source/sprites.png') -10px -10px;
}
.responce.feature-description::before {
    width: 64px;
    background: url('Source/sprites.png') -100px -10px;
}
.services {
    background-color: #f1f2fd;
}
.services .container,
.contacts .container,
.testimonials .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-title {
    font-weight: 400;
    font-size: 32px;
    color: #2d3033;
    margin-top: 102px;
    margin-bottom: 40px;
}
.services p {
    text-align: center;
    margin-bottom: 40px;
    line-height: 27px;
}
.service-types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 72px;
}
.service-type {
    width: 270px;
    height: 210px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-color: #2d3033;
    margin-bottom: 30px;
}
.service-type p {
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}
.stove {
    background: url(Source/stove_repair.jpg) no-repeat;
}
.oven {
    background: url(Source/oven_repair.jpg) no-repeat;
}
.dryer {
    background: url(Source/dryer_repair.jpg) no-repeat;
}
.dishwasher {
    background: url(Source/dishwasher_repair.jpg) no-repeat;
}
.tv {
    background: url(Source/tv_repair.jpg) no-repeat;
}
.fridge {
    background: url(Source/fridge_repair.jpg) no-repeat;
}
.washer {
    background: url(Source/washer_repair.jpg) no-repeat;
}
.other {
    background: url(Source/other_equipment_repair.jpg) no-repeat;
}
.contacts p {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    color:  #2d3033;
    line-height: 27px;
    width: 40%;
}
.contact-form {
    display: flex;
    flex-direction: row;
    margin: 40px 0;

}
.contacts input {
    display: inline-block;
    width: 370px;
    height: 60px;
    border: 1px solid #d92727;
    text-align: center;
    font-size: 18px;
    padding: 0;
}
.contacts .button {
    margin-bottom: 100px;
}

.contacts input:not(:last-of-type) {
    margin-right: 30px;
}
.testimonials {
    background-color: #f1f2fd;
}
.review {
    width: 760px;
    display: flex;
    flex-direction: column;
    margin-bottom: 102px;
}
.review-content {
    text-align: justify;
    font-style: italic;
    line-height: 27px;
    margin-bottom: 40px;
}
.review-author,
.review-date {
    display: flex;
    align-self: flex-end;
    text-align: left;
    width: 34%;
    line-height: 27px;
}
footer {
    background-color: #2d3033;
    color: #FFFFFF;
    padding-top: 98px;
}
footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 102px;
}
footer .logo {
    flex-direction: column;
}
.logo-main,
.logo-bottom,
.social{
    display:flex;
    flex-direction: row;

}
.logo-bottom {
    width: 186px;
    text-align: justify;

}

footer .logo .logo-description {
    font-family: 'Roboto', sans-serif;
    line-height: 27px;
    text-transform: capitalize;
    font-size: 20px;
    text-align: justify;

    letter-spacing: 2px;

}
.logo-description::first-letter {
    color: #d92727;
}
footer .social-links {
    margin: 0;
    margin-left: 20px;
}
.social {
    padding-top: 5px;
}
.social p {
    letter-spacing: 2px;
}
.footer-contacts {
    display: flex;
    flex-direction: column;
}
.footer-contacts p {
    text-align: right;
    line-height: 27px;
}
.footer-contacts .phone {
    margin-bottom: 25px;
}
.footer-contacts .phone::before {
    left: -50px;
    top: 8px;

}
.footer-contacts .address::before {
    left: -48px;
    top: 8px;
}





